addict
blake3
bs4
cairosvg
clip
compressed-tensors
cupy-cuda12x
depyf
email-validator
fastapi
fastapi-cli
fastparquet
fqdn
gguf
google-api-core
google-cloud
httptools
ipywidgets
isoduration
jsonpointer
kagglehub
librosa
lightning-utilities
llguidance
lm-format-enforcer
mistral-common
notebook
openai-clip
opencv-python
opentelemetry-exporter-otlp
opentelemetry-semantic-conventions-ai
outlines
partial-json-parser
pip-chill
polars
prometheus-fastapi-instrumentator
py-cpuinfo
pydot
pynvml
pyrasite
python-dotenv
python-multipart
rapidfuzz
ray
requests-toolbelt
responses
rouge-score
seaborn
sentence-transformers
simplejson
sortedcontainers
taming-transformers-rom1504
tifascore
unicodedata2
unsloth
uri-template
uvloop
watchfiles
weave
webcolors
websockets
xgrammar
zhconv
